body {
  background-color: rgb(31, 23, 23);
}

h1 {
  color: white;
}

h2 {
  color: white;
}
p {
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 2%;
}
