---
import "../styles/style.css";
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";
import Box from "../components/Box.astro";
import Login from "../components/Login.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>

	</head>


	<body>
		<Login/>
		
		<main class="grid">

		<Nav/>
<div>
<Box h1box="Focus">

<Card header="kunstner" text="beskrivelse">
	<img src="https://picsum.photos/id/65/150/150" alt="">
</Card>
<Card header="kunstner" text="beskrivelse">
	<img src="https://picsum.photos/id/68/150/150" alt="">
</Card>
<Card header="kunstner" text="beskrivelse">
	<img src="https://picsum.photos/id/334/150/150" alt="">
</Card>
<Card header="kunstner" text="beskrivelse">
	<img src="https://picsum.photos/id/338/150/150" alt="">
</Card>
<Card header="kunstner" text="beskrivelse">
	<img src="https://picsum.photos/id/349/150/150" alt="">
</Card>
<Card header="kunstner" text="beskrivelse">
	<img src="https://picsum.photos/id/364/150/150" alt="">
</Card>
<Card header="kunstner" text="beskrivelse">
	<img src="https://picsum.photos/id/240/150/150" alt="">
</Card>

</Box>
<Box h1box="Spotify Playlists">

<Card header="kunstner" text="beskrivelse">
	<img src="https://picsum.photos/id/65/150/150" alt="">
</Card>
<Card header="kunstner" text="beskrivelse">
	<img src="https://picsum.photos/id/68/150/150" alt="">
</Card>
<Card header="kunstner" text="beskrivelse">
	<img src="https://picsum.photos/id/334/150/150" alt="">
</Card>
<Card header="kunstner" text="beskrivelse">
	<img src="https://picsum.photos/id/338/150/150" alt="">
</Card>
<Card header="kunstner" text="beskrivelse">
	<img src="https://picsum.photos/id/349/150/150" alt="">
</Card>
<Card header="kunstner" text="beskrivelse">
	<img src="https://picsum.photos/id/364/150/150" alt="">
</Card>
<Card header="kunstner" text="beskrivelse">
	<img src="https://picsum.photos/id/240/150/150" alt="">
</Card>

</Box>
<Box h1box="Spotify Playlists">

<Card header="kunstner" text="beskrivelse">
	<img src="https://picsum.photos/id/65/150/150" alt="">
</Card>
<Card header="kunstner" text="beskrivelse">
	<img src="https://picsum.photos/id/68/150/150" alt="">
</Card>
<Card header="kunstner" text="beskrivelse">
	<img src="https://picsum.photos/id/334/150/150" alt="">
</Card>
<Card header="kunstner" text="beskrivelse">
	<img src="https://picsum.photos/id/338/150/150" alt="">
</Card>


</Box>

</div>


	
</main>
	</body>
</html>
