---
import "../styles/style.css";
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";
import Box from "../components/Box.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>

	</head>


	<body>
		<Nav/>
		<h1>Spotify</h1>
<main class="grid">

<Card header="kunstner" text="beskrivelse">
	<img src="https://picsum.photos/id/65/150/150" alt="">
</Card>
<Card header="kunstner" text="beskrivelse">
	<img src="https://picsum.photos/id/68/150/150" alt="">
</Card>
<Card header="kunstner" text="beskrivelse">
	<img src="https://picsum.photos/id/68/150/150" alt="">
</Card>
<Card header="kunstner" text="beskrivelse">
	<img src="https://picsum.photos/id/68/150/150" alt="">
</Card>
<Card header="kunstner" text="beskrivelse">
	<img src="https://picsum.photos/id/68/150/150" alt="">
</Card>




	
</main>
	</body>
</html>
