---
---
<section>
    <div class="login">
        
    <a href="#">Sign up</a>
     <a href="#">Log in</a>
 
     </div>
</section>



<style>
    section{
        background-color: #1cdf63;
        height: 50px;
        }
    a{
        padding: 5%;
      
     
        text-decoration: none;
        color: white;
    }
    .login{
        padding-left: 85%;
    }
    a:hover{
        background-color: white;
        color: black;
        border-radius: 20px;
    }
</style>