---

---
<div class="wrapper">
<nav>   
 <ul>
    <img class="logo" src="public/icons/logo.svg" alt="">
 <li> <a href="/#"><img class="icon" src="public/icons/home.svg" alt="">Home</a></li>
<li> <a href="/#"><img class="icon" src="public/icons/search-icon.svg" alt="">Search</a></li>
<li> <a href="/#"><img class="icon" src="public/icons/library-icon.svg" alt="">Your Library</a></li>
<li> <a href="/#"><img class="icon" src="public/icons/create-icon.svg" alt="">Create Playlist</a></li>
<li> <a href="/#"><img class="icon" src="public/icons/heart-icon.svg" alt="">Liked Songs</a></li>
</ul>
</nav>
</div>

<style>

    .icon{
        padding-right: 5%;
    }

   ul {
    margin: 0%;
  list-style-type: none;
  padding: 1%;
  width: 100%;
  background-color:#1cdf63;
  height: 100%; 

  overflow: auto;
}
a{
    color: #484747;
    padding: 5%;
    text-decoration: none;
}
li{
 padding: 10%;

}
img{
    width: 10%;
}
.logo{
    width: 100%;
}
a:hover{
    color: white;
}
    .wrapper{
    display: flex;
    flex-direction: column;
    
    }

</style>