---

---

<nav>
<div class="navigation-bar">
    <div class="navigation-container">
        <img src="public/icons/logo.svg" alt="">
 <ul>
 <li> <a href="/#"><img src="public/icons/home.svg" alt="">Home</a></li>
<li> <a href="/#"><img src="public/icons/search-icon.svg" alt="">Search</a></li>
<li> <a href="/#"><img src="public/icons/library-icon.svg" alt="">Your Library</a></li>
</ul>
</div>
</div>                      
</nav>


<style>
   ul {
  list-style-type: none;
  margin: 0;
  padding: 1%;
  width: 10%;
  background-color:rgb(72, 70, 70);
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
a{
    color: #f1f1f1;
    padding: 5%;
    text-decoration: none;
}
li{
    padding: 10%;
}
img{
    width: 10%;
}
a:hover{
    content: url("");
}

</style>